In [1]:
import pandas as pd
import numpy as np

In [8]:
# read the vine csv file into a dataframe
file_to_load = 'vine_table.csv'
vine_df = pd.read_csv(file_to_load, names=['review_id','star_rating','helpful_votes','total_votes','vine',
                                           'verified_purchase'])

In [9]:
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3DT59XH7HXR9K,5.0,0.0,0.0,N,Y
1,R1LFS11BNASSU8,5.0,0.0,1.0,N,Y
2,R296RT05AG0AF6,5.0,0.0,0.0,N,Y
3,R3V37XDZ7ZCI3L,5.0,0.0,1.0,N,Y
4,R14GU232NQFYX2,5.0,0.0,0.0,N,Y

In [10]:
# Filter the vide data to only reviews with 20 or more votes
vine_filtered_df = vine_df[vine_df['total_votes'] >= 20]

In [15]:
vine_filtered_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
18,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y
233,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y
615,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y
1065,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y
1105,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y

In [18]:
vine_filtered_df.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
help_div"total       float64
dtype: object

In [19]:
# Calculate a new column for the percentage of helpful votes
vine_filtered_df['help_div_total'] = vine_filtered_df['helpful_votes'] / vine_filtered_df['total_votes']

C:\Users\User\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
vine_filtered_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,"help_div""total",help_div_total
18,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y,1.000000,1.000000
233,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y,0.930233,0.930233
615,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y,0.946429,0.946429
1065,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y,0.952381,0.952381
1105,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y,0.915825,0.915825

In [23]:
# Filter the data to only reviews votes 50% or more as helpful
vine_filtered_filtered_df = vine_filtered_df[vine_filtered_df['help_div_total'] >= 0.5]

In [24]:
vine_filtered_filtered_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,"help_div""total",help_div_total
18,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y,1.000000,1.000000
233,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y,0.930233,0.930233
615,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y,0.946429,0.946429
1065,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y,0.952381,0.952381
1105,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y,0.915825,0.915825

In [25]:
# Filter to reviews that are from payed users
vine_filtered_three_df = vine_filtered_filtered_df[vine_filtered_filtered_df['vine'] == 'Y']
vine_filtered_three_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,"help_div""total",help_div_total
13470,R1Z71RW4J9IK93,5.0,20.0,22.0,Y,N,0.909091,0.909091
18140,R3FVB5QI11KI9Q,4.0,192.0,200.0,Y,N,0.960000,0.960000
20156,R2G027YBMVXV6Y,5.0,39.0,48.0,Y,N,0.812500,0.812500
26393,R1QGBAN7BMGWRR,5.0,121.0,129.0,Y,N,0.937984,0.937984
28369,R2NH2AU7XL9ZDZ,3.0,18.0,20.0,Y,N,0.900000,0.900000

In [27]:
vine_filtered_three_df.describe()

       star_rating  helpful_votes  total_votes  help_div"total  help_div_total
count  1207.000000    1207.000000  1207.000000     1207.000000     1207.000000
mean      4.013256      90.948633    98.781276        0.893638        0.893638
std       1.080426     181.653231   189.670912        0.074952        0.074952
min       1.000000      13.000000    20.000000        0.500000        0.500000
25%       3.000000      24.000000    28.000000        0.852941        0.852941
50%       4.000000      41.000000    47.000000        0.906542        0.906542
75%       5.000000      82.000000    90.000000        0.950000        0.950000
max       5.000000    3325.000000  3428.000000        1.000000        1.000000

In [28]:
# Filtered to non-paid user reviews
vine_filtered_four_df = vine_filtered_filtered_df[vine_filtered_filtered_df['vine'] == 'N']
vine_filtered_four_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,"help_div""total",help_div_total
18,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y,1.000000,1.000000
233,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y,0.930233,0.930233
615,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y,0.946429,0.946429
1065,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y,0.952381,0.952381
1105,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y,0.915825,0.915825

In [29]:
vine_filtered_four_df.describe()

,star_rating,helpful_votes,total_votes,"help_div""total",help_div_total
count,97839.000000,97839.000000,97839.000000,97839.000000,97839.000000
mean,3.541083,62.480698,67.791770,0.902779,0.902779
std,1.648012,147.404092,153.484919,0.094592,0.094592
min,1.000000,10.000000,20.000000,0.500000,0.500000
25%,2.000000,22.000000,25.000000,0.863636,0.863636
50%,4.000000,31.000000,35.000000,0.928000,0.928000
75%,5.000000,55.000000,60.000000,0.967391,0.967391
max,5.000000,11173.000000,11501.000000,1.000000,1.000000

#### Calculate the number of ratings, the number of 5 star ratings, and the % of 5 star votes for paid and unpaid datasets

In [32]:
count_paid_reviews = vine_filtered_three_df['star_rating'].count()

In [33]:
count_paid_reviews

1207

In [34]:
count_unpaid_reviews = vine_filtered_four_df['star_rating'].count()
count_unpaid_reviews

97839

In [37]:
count_paid_five_star = vine_filtered_three_df[vine_filtered_three_df['star_rating'] == 5]['star_rating'].count()
count_paid_five_star

509

In [38]:
count_unpaid_five_star = vine_filtered_four_df[vine_filtered_four_df['star_rating'] == 5]['star_rating'].count()
count_unpaid_five_star

45858

In [40]:
pct_paid_five_star = round((count_paid_five_star / count_paid_reviews) * 100,2)
pct_paid_five_star

42.17

In [41]:
pct_unpaid_five_star = round((count_unpaid_five_star / count_unpaid_reviews) * 100,2)
pct_unpaid_five_star

46.87